<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325060394764-fcgka33tr4q618f9v97nlfc2r71r1nqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325060394764-fcgka33tr4q618f9v97nlfc2r71r1nqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325060394764-ms3umubajfje9r1e4sbda1omivv8vqa0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0xBENIazD43xc35KlVOiOf8p0-_58ZIo</string>
	<key>GCM_SENDER_ID</key>
	<string>325060394764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterdesk.easymeditation</string>
	<key>PROJECT_ID</key>
	<string>easy-meditation-d74f8</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-meditation-d74f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325060394764:ios:fd48b0eaec100dbd481329</string>
</dict>
</plist>